# This is Git's per-user configuration file.
[user]
	name = anugrahsputra
	email = anugrahsputra@gmail.com
# Please adapt and uncomment the following lines:
#	name = anugrahsputra
#	email = anugrahsputra@gmail.com
[core]
	excludesfile = /Users/downormal/.gitignore
